/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Review Assignment

   Programming Table Style Sheet
   Author: James Craven
   Date:   10/17/2019

   Filename:         programs.css
   Supporting Files: 

*/

/* Styles for overall Table with Class "Programs" */

/* Sets a solid border around the table and changes the font family */

table.programs {
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
	font-family: Arial, Verdana, sans-serif;
}

/* Sets Location and font size for "All Times Central" caption */

table.programs caption {
	caption-side: bottom;
	text-align: left;
	font-size: 0.8em;
}

/* Table Body Data Cell Styles */

/* Sets styles for cells under the Monday-Friday header cells */

table.programs tbody td {
	font-size: 0.7em;
	vertical-align: top;
	border: 1px solid gray;
	padding: 2px;
}

/* Sets the height for all rows in the table */

table.programs tr {
	height: 25px;
}

/* Sets the text color and background 
color for the first row in the table */

table.programs thead {
	color: white;
	background-color: rgb(105, 177, 60);
}

/* Sets the font size and border for each 
individual cell in the table header group */

table.programs thead th {
	font-size: 0.7em;
	border: 1px solid gray;
}

/* Sets the background color for the "Time" (1st) cell */

table.programs thead th:first-of-type {
	background-color: rgb(153, 86, 7);
}

/* Sets the background color for the "Saturday" (7th) cell */

table.programs thead th:nth-of-type(7) {
	background-color: rgb(153, 0, 153);
}

/* Sets the background color for the "Sunday" (8th) cell */

table.programs thead th:nth-of-type(8) {
	background-color: rgb(153, 0, 153);
}

/* Sets the width and background color for the "Time" column */

table.programs col.timeColumn {
	width: 10%;
	background-color: rgb(215, 205, 151);
}

/* Sets the width and background color 
for the Monday-Friday columns */

table.programs col.wDayColumns {
	width: 11%;
	background-color: rgb(236, 255, 211);
}

/* Sets the width and background color 
for the Saturday-Sunday columns */

table.programs col.wEndColumns {
	width: 17%;
	background-color: rgb(255, 231, 255);
}

/* Divides the Introduction Paragraph into 
3 columns and puts a line between them. Also uses
progressive enhancement allowing for compatibility */

section#intro p {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
	
	-moz-column-rule: 1px solid black;
	-webkit-column-rule: 1px solid black;
	column-rule: 1px solid black;
}